body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: rgb(247,247,247);
  font-weight: 300;
}

#root {
  min-height: 100vh;
}

.auth0-lock.auth0-lock .auth0-lock-header {
  display: none;
}
