body {
  margin: 0;
  background-color: rgb(247,247,247);
  font-weight: 400;
}

body * {
  font-family: 'Helvetica Neue', 'Arial', sans-serif ;
}

#root {
  min-height: 100vh;
}

.auth0-lock.auth0-lock .auth0-lock-header {
  display: none;
}
