.async {
  display: flex;
  width: 100%;
}

.async .Select-value  {
  background-color: #9075F3;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: 400;
}

.async .Select-control {
  border: none;
  padding-bottom: 5px;
}

.async .others .Select-value-icon {
  display: none;
}


.async .Select-value-icon:hover {
  color: white;
}

.influences .Select-value {
  background-color: #D8D8D8;
  color: #333333;
  border: none;
}

.Select--multi .Select-value-icon {
  border: none;
}

.async.Select--multi.is-disabled .Select-value {
  background-color: #9575CD;
  color: white;
}

.influences.Select--multi.is-disabled .Select-value {
  background-color: #D8D8D8;
  color: #333333;
}


.others .Select.is-disabled > .Select-control {
  background-color: none;
}

.others .Select-arrow-zone {
  display: none;
}

.others .Select-placeholder {
  display: none;
}

.Select.is-disabled > .Select-control {
  background-color: white;
}
