h1, h2, h3, h4 {
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(247,247,247);
}

main {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

li {
  text-decoration: none;
}
