body {
  margin: 0;
  background-color: rgb(247,247,247);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

main {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 60px;
  border: solid rgba(200, 200, 200, .9) .5px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 1px 1px rgba(160, 160, 160, .9);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: black;
  outline: none;
}

menu {
  padding: 0;
  margin: 0;
}
